<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Things Catalog</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container">
        <h1>Hello!!!!</h1>
        <h2>Let's take a look at some Things together.</h2>
            <a class="btn" href="/things">
                <i class="material-icons right">arrow_forward</i>
                Start looking!
            </a>
    </div>
    <img src="/images/salsa.png">
</body></html>